{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Forgot Pasword</title>
{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'bootstrap-logo.svg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Enter Registered Email</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{error}}  
    </div>
    {% endif %}

    {% if message %}
    <div class="alert alert-success" role="alert">
      {{message}}  
    </div>
    {% endif %}

    <label for="inputemail" class="visually-hidden">Email</label>
    <input type="email" id="inputemail" class="form-control" placeholder="email" name="email" required autofocus>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    <a href="{% url 'user-login' %}">Back to Login</a>
</form>

{% endblock %}