{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{% block body %}

{% if invalid %}

    <img class="mb-4" src="{% static 'bootstrap-logo.svg' %}" alt="" width="72" height="57">
    {{error}}

{% else %}

<form method="post">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'bootstrap-logo.svg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Reset Password</h1>
    {% if error %}    {{error}}    {% endif %}
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <label for="inputConfirmPassword" class="visually-hidden">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" name="confirmpassword" required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button><br><br>
</form>

{% endif %}

{% endblock %}