{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{% block body %}

<img class="mb-4" src="{% static 'bootstrap-logo.svg' %}" alt="" width="72" height="57">


<form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please Reset Password</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {% endif %}
    <label for="inputotp" class="visually-hidden">OTP</label>
    <input type="text" id="inputotp" class="form-control" placeholder="enter otp" name = "otp" required>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <label for="inputConfirmPassword" class="visually-hidden">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" name="confirmpassword" required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button><br><br>

    {% if invalid %}
    <a href="{% url 'forgot-password' %}?otp=true">Get New Password Reset OTP</a><br>
    {% endif %}

</form>


{% endblock %}